.container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    height: 100vh;
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    background-color: rgba(107, 75, 75, 0.8);
    grid-column: 2/6;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.personal-info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 3/4;
}
.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/2;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column: 3/4;
}
.buttons>button {
    background-color: aqua;
    border-radius: 2rem;
    width:7rem;
    height: 3rem;
}

.dashboard {
    background-color: rgba(36, 36, 172, 0.5);
    grid-row: 1/5;
    color: white;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
}
.dashboard ul {
    list-style-type: none;
}
.dashboard h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
}
li {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main-section {
    background-color: rgba(122, 87, 21, 0.5);
    grid-row: 2/5;
    grid-column: 2/6;
}